<a href="https://colab.research.google.com/github/rafaelafachine/DataScience/blob/main/TreinamentoDio.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("Olá Mundo")

Olá Mundo

In [ ]:
#Multiplicação

5*20

100

In [ ]:
#criando uma váriavel do tipo string

frase = "Python para análise de dados"

In [ ]:
frase [0]

'P'

In [ ]:
frase[0:10]

'Python par'

In [ ]:
frase[10:]

'a análise de dados'

In [ ]:
frase[:17]

'Python para análi'

In [ ]:
frase.count("dados")

1

In [ ]:
frase.lower()

'python para análise de dados'

In [ ]:
frase.upper()

'PYTHON PARA ANÁLISE DE DADOS'

In [ ]:
frase.replace("Python","Frases")

'Frases para análise de dados'

In [ ]:
#Importando a biblioteca pandas
import pandas as pd

In [7]:
df =  pd.read_csv("/content/drive/MyDrive/Colab Notebooks/DesafioDio/Gapminder.csv", sep =";", error_bad_lines=False)

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:3326: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version.


  exec(code_obj, self.user_global_ns, self.user_ns)

In [8]:
#Visualisando as cincos primeiras linhas

df.head()

       country continent  year lifeExp       pop              gdpPercap
0  Afghanistan      Asia  1952  28.801   8425333          7.794.453.145
1  Afghanistan      Asia  1957  30.332   9240934          8.208.530.296
2  Afghanistan      Asia  1962  31.997  10267083  8.531.007.099.999.990
3  Afghanistan      Asia  1967   34.02  11537966          8.361.971.382
4  Afghanistan      Asia  1972  36.088  13079460  7.399.811.057.999.990

In [11]:
df = df.rename(columns={"country":"Pais","continent":"Continente", "year":"Ano","lifeExp":"ExpectativaVida","pop": "População","gdpPercap":"RendaperCapita"})

In [12]:
df.head(10)

,Pais,Continente,Ano,ExpectativaVida,População,RendaperCapita
0,Afghanistan,Asia,1952,28.801,8425333,7.794.453.145
1,Afghanistan,Asia,1957,30.332,9240934,8.208.530.296
2,Afghanistan,Asia,1962,31.997,10267083,8.531.007.099.999.990
3,Afghanistan,Asia,1967,34.02,11537966,8.361.971.382
4,Afghanistan,Asia,1972,36.088,13079460,7.399.811.057.999.990
5,Afghanistan,Asia,1977,38.438,14880372,78.611.336
6,Afghanistan,Asia,1982,39.854,12881816,9.780.114.388
7,Afghanistan,Asia,1987,40.822,13867957,8.523.959.447.999.990
8,Afghanistan,Asia,1992,41.674,16317921,6.493.413.952.000.000
9,Afghanistan,Asia,1997,4.176.300.000.000.000,22227415,635.341.351

In [13]:
#Total de linhas e colunas

df.shape

(3312, 6)

In [14]:
# Retorna as colunas
df.columns

Index(['Pais', 'Continente', 'Ano', 'ExpectativaVida', 'População',
       'RendaperCapita'],
      dtype='object')

In [15]:
#retorna o tipo de dados
df.dtypes

Pais               object
Continente         object
Ano                 int64
ExpectativaVida    object
População           int64
RendaperCapita     object
dtype: object

In [16]:
#Retorna as ultimas linhas

df.tail()

,Pais,Continente,Ano,ExpectativaVida,População,RendaperCapita
3307,Zimbabwe,Africa,1987,62.351.000.000.000.000,9216418,7.061.573.059
3308,Zimbabwe,Africa,1992,60.377,10704340,6.934.207.856
3309,Zimbabwe,Africa,1997,46.809,11404948,7.924.499.602.999.990
3310,Zimbabwe,Africa,2002,39.989,11926563,6.720.386.227.000.000
3311,Zimbabwe,Africa,2007,43.487,12311143,46.970.929.810.000.000

In [17]:
df.describe(  )

               Ano     População
count  3312.000000  3.312000e+03
mean   1980.301630  3.161489e+07
std      16.927294  1.041193e+08
min    1950.000000  5.941200e+04
25%    1967.000000  2.678572e+06
50%    1982.000000  7.557218e+06
75%    1996.000000  1.958522e+07
max    2007.000000  1.318683e+09

In [18]:
df["Continente"].unique()

array(['Asia', 'Europe', 'Africa', 'Americas', nan, 'FSU', 'Oceania'],
      dtype=object)

In [20]:
Oceania = df.loc[df["Continente"]=="Oceania"]
Oceania.head()

     Pais Continente   Ano ExpectativaVida  População RendaperCapita
975  Fiji    Oceania  1962          56.494     421869  2.039.393.277
976  Fiji    Oceania  1967          58.607     485000  2.170.073.285
977  Fiji    Oceania  1972          60.642     544000  2.797.759.484
978  Fiji    Oceania  1977          62.669     599339     31.825.696
979  Fiji    Oceania  1982          64.683     658906  3.209.257.468

In [21]:
Oceania["Continente"].unique()

array(['Oceania'], dtype=object)

In [22]:
df.groupby("Continente")["Pais"].nunique()

Continente
Africa      51
Americas    25
Asia        41
Europe      35
FSU          6
Oceania      3
Name: Pais, dtype: int64

In [42]:
#para cada ano qual era Expectativa de vida média
#A função Pandas to_numeric() pode ser utilizada para converter uma lista, uma série, um array, ou um tuple para um datatype numérico, 
#o que significa int assinado, ou int não assinado e tipo float. Também tem o parâmetro errors para levantar excepções.

df['ExpectativaVida'] = pd.to_numeric(df['ExpectativaVida'],errors = 'coerce')
df['RendaperCapita'] = pd.to_numeric(df['RendaperCapita'],errors = 'coerce')
df.groupby("Ano")["ExpectativaVida"].mean()

Ano
1950    77.456632
1951    65.904167
1952    49.530978
1953    67.636087
1954    84.884417
1955    68.666957
1956    68.711739
1957    52.327229
1958    86.872960
1959    69.469167
1960    69.944400
1961    70.252800
1962    54.418221
1963    70.303600
1964    70.732800
1965    88.808815
1966    89.381926
1967    56.454795
1968    90.490815
1969    90.975630
1970    91.844741
1971    71.387308
1972    58.776039
1973    89.157438
1974    92.611704
1975    72.294615
1976    72.531923
1977    60.338201
1978    73.043462
1979    73.323846
1980    73.331538
1981    73.602308
1982    62.765436
1983    73.787778
1984    74.100741
1985    74.112222
1986    74.452222
1987    64.024006
1988    74.760000
1989    74.924444
1990    74.283438
1991    74.374848
1992    65.544587
1993    74.324545
1994    74.456667
1995    74.552727
1996    75.029394
1997    66.080473
1998    75.569697
1999    75.703636
2000    76.026364
2001    76.257879
2002    67.502091
2003    76.586667
2004    76.921562
2005    76.718667
2006    77.887778
2007    68.203623
Name: ExpectativaVida, dtype: float64

In [43]:
df["RendaperCapita"].sum()

835853.1